<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">

    <!-- Đoạn code này để imput hình ảnh từ phim, nhưng do toàn hình dọc nên ko fix vào slider được -->
    <!-- <ng-container *ngFor="let item of listPhim; let stt= index">
        <ng-container *ngIf='stt === 0; else nonActive'>
          <div class="carousel-item active">
            <img [src]="item.HinhAnh" [alt]="item.TenPhim" width="1100"
              height="500">
          </div>
        </ng-container>
        <ng-template #nonActive>
          <div class="carousel-item">
            <img [src]="item.HinhAnh" [alt]="item.TenPhim" width="1100"
              height="500">
          </div>
        </ng-template>
      </ng-container> -->
    <div class="carousel-item active">
      <a href="#">
        <img src="../../../../assets/img/god-15601537188192.jpg" alt="God"
          width="1100" height="500">
      </a>
    </div>
    <div class="carousel-item">
      <a href="#">
        <img src="../../../../assets/img/pets-2-15598811587741.jpg" alt="Pets"
          width="1100" height="500">
      </a>
    </div>
    <div class="carousel-item">
      <a href="#">
        <img src="../../../../assets/img/x-men-15598808044369.jpg" alt="X-men"
          width="1100" height="500">
      </a>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <!-- <span class="carousel-control-prev-icon"></span> -->
    <i class="fa fa-chevron-left"></i>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <!-- <span class="carousel-control-next-icon"></span> -->
    <i class="fa fa-chevron-right"></i>
  </a>
</div>