<!-- Modal Xem nhanh thông tin, click từ item phim -->
<!-- The Modal -->
<div class="modal fade px-0" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{chiTietPhimFromShareStoreService.TenPhim}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-8 modal-body-left">
            <div>
              {{chiTietPhimFromShareStoreService.MoTa}}
            </div>
            <div>
              <button class="btn btn-success" (click)=xemTrailer() data-toggle='modal' data-target='#modal-trailer'>Xem
                trailer...</button>
            </div>
          </div>
          <div class="col-4 modal-body-right">
            <img [src]="chiTietPhimFromShareStoreService.HinhAnh" alt="">
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
 <!-- Modal trailer -->
 <div class="modal fade px-0" id="modal-trailer">
    <div class="modal-dialog modal-dialog-centered">

      <div class="modal-content" style="width:560px; height:315px;">
        <div class="modal-body p-0" id="phimTrailer">
          <iframe style="height:100%; width: 100%;" [src]='sanitizer.bypassSecurityTrustResourceUrl(embedLink)'
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

