<!-- <div style="position: relative"> -->
<div class="card itemPhimCard" (mouseout)="changeStatusBtn(false)"
  (mouseover)="changeStatusBtn(true)">
  <div class="card-image">
    <img class="card-img-top itemPhimImg" [src]="singlePhim.HinhAnh" alt="Card
      image" style="width:100%">

    <!-- rating -->
    <div class="ratingPhim d-flex align-items-center">
      <img src="./../../../../assets/img/icon/star1.png" alt="star">
      <p>{{singlePhim.DanhGia}}</p>
    </div>

    <!-- Hover Card -->
    <div class="card-hover"></div>
    <i class="fa fa-play card-icon" data-toggle="modal"
      data-target="#ModalTrailer" (click)='xemTrailer()'></i>
  </div>

  <div class="card-body">
    <div class="body-info">
      <!-- <ng-container *ngIf="statusButtonDatVe; else buttonDatVe"> -->
      <!-- {{singlePhim.TenPhim}} -->
      <div class="title-phim">
        {{singlePhim.TenPhim}}
        <!-- {{ (singlePhim.TenPhim.length > 15) ?
          (singlePhim.TenPhim | slice:0:15) + '...' : (singlePhim.TenPhim) }} -->
      </div>
      <!-- </ng-container> -->
      <!-- <div class="card-title title-phim">{{ singlePhim.TenPhim  }}</div> -->
      <!-- button đặt vé -->
      <!-- <ng-template #buttonDatVe> -->
      <div href="#" class="btn datVe-button" (click)='xemChiTiet()'>
        <!-- <span> -->
          ĐẶT VÉ...
        <!-- </span> -->
      </div>
    </div>
    <!-- </ng-template> -->
  </div>
</div>
<!-- </div> -->