@import "./../../_scss/variables.scss";
@import "./../../_scss/mixin.scss";

.itemPhimCard {
  border: unset;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .card-image {
    position: relative;
    cursor: pointer;
    flex: 1 1 auto;

    .itemPhimImg {
      height: 100%;
      width: 100%;
    }
    .ratingPhim {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: $color-black-1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2px 8px;
      border-radius: 3px;

      p {
        @include text($color-white, $fs-3, $fw-0);
        // font-size: $fs-1;
        // color: white;
        margin: 0;
        margin-left: 5px;
      }

      img {
        width: 8px;
        height: 8px;
      }
    }

    .card-hover {
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      background-color: $color-black-1;
    }

    .card-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $fs-5;
      border-radius: 50%;
      color: $color-white;
      display: none;
    }
  }

  .card-body {
    flex: unset;
    padding: 10px 5px;
    height: 60px;
    padding: 0;
    .body-info {
      display: flex;
      align-items: flex-start;
      @include text($color-red-1, $fs-2, $fw-1);
      margin-top: 5px;
      .title-phim {
        margin: 0 5px;
      }
      .datVe-button {
        display: none;
        width: 100%;
        text-align: center;
        color: $color-red-1;
        cursor: pointer;
        background-image: linear-gradient(to right, #c00000, #ff7752);
        @include text($color-white, $fs-3, $fw-0);
        
        &:hover {
          @include text($color-black, $fs-3, $fw-0);
          text-shadow:  1px 1px 2px $color-black, 0 0 1em $color-grey-2, 0 0 0.2em $color-black-4;
        }
      }
    }
  }

  // Khi hover itemPhimCard
  &:hover {
    .card-image {
      .card-hover {
        transition: 0.1s ease all;
        width: 100%;
        height: 100%;
      }

      .card-icon {
        display: block;
      }
    }

    .card-body {
      .body-info {
        .title-phim {
          display: none;
        }
        .datVe-button {
          display: block;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .itemPhimCard {
    .card-image {
      .itemPhimImg {
      }
      .ratingPhim {
        top: 8px;
        right: 8px;
        padding: 2px 8px;

        p {
          @include text($color-white, $fs-4, $fw-0);
          // font-size: $fs-1;
          // color: white;
          margin: 0;
          margin-left: 5px;
        }

        img {
          width: 12px;
          height: 12px;
        }
      }
    }

    .card-body {
      .body-info {
        .title-phim {
          @include text($color-red-1, $fs-4, $fw-1);
        }
        .datVe-button {
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .itemPhimCard {
    .card-image {
      .itemPhimImg {
      }
      .ratingPhim {
        padding: 4px 10px;

        p {
          @include text($color-white, $fs-0, $fw-0);
          // font-size: $fs-1;
          // color: white;
          margin: 0;
          margin-left: 7px;
        }

        img {
          width: 15px;
          height: 15px;
        }
      }
    }
    .card-body {
      .body-info {
        .title-phim {
          @include text($color-red-1, $fs-4, $fw-1);
        }
        .datVe-button {
          font-size: $fs-4;
          &:hover {
            font-size: $fs-4;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .itemPhimCard {
    .card-image {
      .itemPhimImg {
      }

      .card-icon {
        font-size: $fs-6;
      }
    }

    .card-body {
      .body-info {
        .title-phim {
          @include text($color-red-1, $fs-0, $fw-1);
        }
        .datVe-button {
          font-size: $fs-0;
          &:hover {
            font-size: $fs-0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .itemPhimCard {
    .card-image {
      .itemPhimImg {
      }
    }

    .card-body {
    }
  }
}
