// color
$color-white: #fff;
$color-white-1:#DFDFE0;

$color-black: #000;
$color-black-1: rgba(17, 27, 54, 0.5);
$color-black-2: rgba(24, 23, 23, 0.8);
$color-black-3: rgb(0, 0, 0);
$color-black-4: rgba(0, 0, 0, 0.4);
$color-black-5: #212529;

$color-red: red;
$color-red-1: #FB4226;

$color-grey-1:#9b9b9b;
$color-grey-2:#0A2029;
$color-grey-3: rgba(200, 200, 200, 0.2);

$color-green: green;

$color-purple: purple;

// font-size
$fs-0: 16px;
$fs-1: 18px;
$fs-2: 13px;
$fs-3: 12px;
$fs-4: 15px;
$fs-5: 40px;
$fs-6: 70px;
$fs-7: 22px;
$fs-8: 25px;
$fs-9: 20px;
$fs-10: 30px;


// font-weight
$fw-0: normal;
$fw-1: bold;
$fw-2: bolder;
$fw-3: lighter;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

// width container  
$w:100%;
$w-sm:90%;
$w-md:80%;
$w-lg:70%;

//padding
$pd-sm: 0px 5px;
$pd-md: 5px 20px;

