// color
$color-white: #fff;
$color-white-1:#DFDFE0;

$color-black: #000;
$color-black-1: rgba(17, 27, 54, 0.5);
$color-black-2: rgba(24, 23, 23, 0.8);

$color-red-1: #FB4226;

$color-grey-1:#9b9b9b;


// font-size
$fs-0: 16px;
$fs-1: 18px;
$fs-2: 13px;
$fs-3: 12px;
$fs-4: 15px;
$fs-5: 40px;
$fs-6: 70px;
$fs-7: 22px;
$fs-8: 25px;


// font-weight
$fw-0: normal;
$fw-1: bold;
$fw-2: bolder;
$fw-3: lighter;
$fw-4: 300;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;

// letter spacing
