// color
$color-white: #fff;

$color-black: #000;
$color-black-1: rgba(17, 27, 54, 0.5);

$color-red-1: #FB4226;

$color-grey-1:#9b9b9b;


// font-size
$fs-0: 16px;
$fs-1: 18px;
$fs-2: 13px;
$fs-3: 12px;
$fs-4: 15px;
$fs-5: 40px;
$fs-6: 70px;


// font-weight
$fw-0: normal;
$fw-1: bold;

// letter spacing
