.itemPhimCard {
  border: unset;
  margin-bottom: 10px;

  .card-image {
    position: relative;
    cursor: pointer;

    .itemPhimImg {
      max-width: 100%;
      height: 200px;

    }

    .ratingPhim {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: rgba(17, 27, 54, 0.5);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;
      border-radius: 3px;

      p {
        font-size: 18px;
        margin: 0;
        color: white;
        margin-left: 5px;
      }

      img {
        width: 15px;
        height: 15px;
      }
    }

    .card-hover {
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      background-color: rgba(17, 27, 54, 0.5);
    }
  }

  .card-body {
    display: none;
    padding: 10px 5px;
    position: relative; //Định vị button

    .title-phim {
      font-weight: bold;
      font-size: 13px;
    }

    .datVe-button {
      display: none; // bình thường ẩn button đặt vé
      position: absolute;
      width: 100%;
      top: 10%;
      left: 0;
      background-color: #FB4226;
      color: white;
      font-size: 12px;

      &:hover {
        background-color: white;
        color: #FB4226;
        border: 1px solid #FB4226;
        font-weight: bold;
      }

    }
  }

  // Khi hover itemPhimCard
  &:hover {
    .card-image {

      .card-hover {
        transition: 0.1s ease all;
        width: 100%;
        height: 100%;
      }
    }

    .card-body {

      .title-phim {
        display: none;
      }

      .datVe-button {
        display: block;
      }
    }
  }

}

@media screen and (min-width: 576px) {
  .itemPhimCard {
    .card-image {
      .itemPhimImg {}
    }

    .card-body {
      display: inline-block;

      .title-phim {}
    }
  }
}

@media screen and (min-width: 768px) {
  .itemPhimCard {
    .card-image {
      .itemPhimImg {}

      .ratingPhim {
        top: 10px;
        right: 10px;

        p {}

        img {}
      }
    }

    .card-body {
      .title-phim {}

      .datVe-button {
        top: 20%;
        font-size: 18px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .itemPhimCard {
    .card-image {
      .itemPhimImg {
        height: 270px;
      }
    }

    .card-body {
      .title-phim {
        font-size: 15px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .itemPhimCard {
    .card-image {
      .itemPhimImg {
        height: 350px;
      }
    }

    .card-body {
      .title-phim {}
    }
  }
}
