<div style="position: relative">
  <div class="card itemPhimCard">
    <div class="card-image" data-toggle="modal" data-target="#myModal" (click)='xemNhanh()'>

      <img class="card-img-top itemPhimImg" [src]="singlePhim.HinhAnh" alt="Card image" style="width:100%">

      <!-- rating -->
      <div class="ratingPhim d-flex align-items-center">
        <img src="./../../../../../assets/img/icon/star1.png" alt="star">
        <p>{{singlePhim.DanhGia}}</p>
      </div>

      <!-- Hover Card -->
      <div class="card-hover"></div>
    </div>

    <div class="card-body d-flex align-items-center">
      <div class="card-title title-phim">{{ (singlePhim.TenPhim.length > 18) ? (singlePhim.TenPhim | slice:0:18) + '...' : (singlePhim.TenPhim) }}</div>
      <!-- <div class="card-title title-phim">{{ singlePhim.TenPhim  }}</div> -->

      <!-- button đặt vé -->
      <button href="#" class="btn datVe-button" (click)='xemChiTiet()'>CHI TIẾT...</button>
    </div>


  </div>
</div>
