@import "./../../../_scss/variables.scss";
@import "./../../../_scss/mixin.scss";

.itemPhimCard {
  border: unset;
  margin-bottom: 10px;

  .card-image {
    position: relative;
    cursor: pointer;

    .itemPhimImg {
      max-width: 100%;
      height: 200px;

    }

    .ratingPhim {
      position: absolute;
      top: 5px;
      right: 5px;
      background-color: $color-black-1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;
      border-radius: 3px;

      p {
        @include text($color-white, $fs-1, $fw-0);
        // font-size: $fs-1;
        // color: white;
        margin: 0;
        margin-left: 5px;
      }

      img {
        width: 15px;
        height: 15px;
      }
    }

    .card-hover {
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      background-color: $color-black-1;
    }
  }

  .card-body {
    display: none;
    padding: 10px 5px;
    position: relative; //Định vị button

    .title-phim {
      @include text($color-black, $fs-2, $fw-1);
    }

    .datVe-button {
      display: none; // bình thường ẩn button đặt vé
      position: absolute;
      width: 100%;
      top: 10%;
      left: 0;
      background-color: $color-red-1;
      @include text ($color-white, $fs-3, $fw-0);

      &:hover {
        background-color: $color-white;
        border: 1px solid $color-red-1;
        @include text ($color-red-1, $fs-3, $fw-1);
      }

    }
  }

  // Khi hover itemPhimCard
  &:hover {
    .card-image {

      .card-hover {
        transition: 0.1s ease all;
        width: 100%;
        height: 100%;
      }
    }

    .card-body {

      .title-phim {
        display: none;
      }

      .datVe-button {
        display: block;
      }
    }
  }

}

@media screen and (min-width: 576px) {
  .itemPhimCard {
    .card-image {
      .itemPhimImg {}
    }

    .card-body {
      display: inline-block;

      .title-phim {}
    }
  }
}

@media screen and (min-width: 768px) {
  .itemPhimCard {
    .card-image {
      .itemPhimImg {}

      .ratingPhim {
        top: 10px;
        right: 10px;

        p {}

        img {}
      }
    }

    .card-body {
      .title-phim {}

      .datVe-button {
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .itemPhimCard {
    .card-image {
      .itemPhimImg {
        height: 270px;
      }
    }

    .card-body {
      .title-phim {
        font-size: $fs-4;
      }
      .datVe-button {
        top: 20%;
        font-size: $fs-1;
        &:hover {
          @include text ($color-red-1, $fs-1, $fw-1);
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .itemPhimCard {
    .card-image {
      .itemPhimImg {
        height: 350px;
      }
    }

    .card-body {
      .title-phim {}
    }
  }
}
