<div class="chiTietPhim" [ngStyle]="{ 'background-image': 'url(' + hinhAnh + ')'}">
  <div class="full-cover"></div>
  <div class="contain">
    <div class="col-12 phim-top">
      <div class="row">
        <div class="col-12 col-md-6 phim-top-left">
          <div class="row">
            <div class="col-12 col-md-6 phim-video">
              <img class="" [src]="hinhAnh" alt="Card image" style="width:100%">
              <div class="card-hover"></div>
              <i class="fa fa-play card-icon" data-toggle="modal" data-target="#ModalTrailer"
                (click)='xemTrailer()'></i>
            </div>
            <div class="col-12 col-md-6 phim-info">
                <p>{{ chiTietSinglePhim.NgayKhoiChieu }}</p>
            </div>
          </div>
        </div>
        <div class="col-0 col-md-3 ml-auto phim-top-right">dat</div>
      </div>
    </div>
    <div class="col-12 phim-bottom"></div>
  </div>
</div>
