.chiTietPhim {
  height: 1000px;
  width: 100%;
  background: no-repeat center center;
  background-size: cover;
  // background-attachment: fixed;
  position: relative;

  .full-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 23, 23, 0.8);
  }

  .contain {
    padding-top: 60px;
    z-index: 10;
    width: 90%;
    margin: auto;
    color: white;
    text-align: center;

    .phim-top {
      .phim-top-left {
        .phim-video {
            img {
                display: none;
            }
        }

        .phim-info {}
      }

      .phim-top-right {}
    }

    .phim-bottom {}
  }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
  .chiTietPhim {
    .contain {
        width: 80%;
        .phim-top {
            .phim-top-left {
              .phim-video {
                  img {
                      display: block;
                  }
              }
      
              .phim-info {}
            }
      
            .phim-top-right {}
          }
      
          .phim-bottom {}
    }
  }
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}
