<div class="container">
  <div class="mat-display-4">mat-display-4</div>
  <div class="mat-display-3">mat-display-3</div>
  <div class="mat-display-2">mat-display-2</div>
  <div class="mat-display-1">mat-display-1</div>
</div>
<hr>
<div class="container">
  <div class="mat-headline">mat-headline</div>
  <div class="mat-title">mat-title</div>
  <div class="mat-subheading-2">mat-subheading-2</div>
  <div class="mat-subheading-1">mat-subheading-1</div>
</div>
<hr>
<div class="container">
  <div class="mat-body-2">mat-body-2</div>
  <div class="mat-body-1">mat-body-1</div>
  <div class="mat-caption">mat-caption</div>
</div>
<hr>
<div class="container">
<div class="mat-typography">
  <h1>h1 trong typography</h1>
  <h2>h2 trong typography</h2>
  <h3>h3 trong typography</h3>
  <h4>h4 trong typography</h4>
</div>
</div>
<hr>
<button mat-button>Dat09</button>

<router-outlet></router-outlet>
