@import "./../../_scss/variables.scss";
@import "./../../_scss/mixin.scss";

.myMenu {
  width: 100%;
  z-index: 100;

  .menu-container {
    .navbar {
      .navbar-brand {
        img {
          width: 50px;
          height: 50px;
        }
      }

      .navbar-toggler {
      }

      .navbar-collapse {
        .menu-center {
          margin: 0 auto;

          li {
            a {
              font-size: 14px;
              color: #fff;
            }
          }
        }

        .menu-right {
          .nav-item {
            .nav-link {
              @include text($color-white, $fs-2, $fw-0);
            }
          }
          .dropdown {
            .dropdown-menu.show {
              left: unset;
              right: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .myMenu {
    .menu-container {
      .navbar {
        .navbar-brand {
          img {
          }
        }

        .navbar-toggler {
        }

        .navbar-collapse {
          .menu-center {
            li {
              a {
              }
            }
          }

          .menu-right {
            li {
              a {
                i {
                  position: relative;

                  &::after {
                    position: absolute;
                    content: "";
                    height: 30px;
                    right: -83px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 2px;
                    background-color: $color-grey-1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
